<div id="friends-list-container" class="m-top col-md col-0">
    <div class="m-top m-bottom suggest-head">
        <span class="col-grey">Suggestions For You</span>
    </div>
    <div id="user-friends" class="suggest-container m-top" >
        <% var suggestionCount =0; %>
        <% for (u of all_users){ %>
            <% if(suggestionCount>=6){ %>
                <% break; %>
            <% } %>
            <% if(u.id!=user.id){ %>
                <% if(locals.user.followers.includes(u.id) && !locals.user.following.includes(u.id)) { %>
                    <% suggestionCount++ %>
                    <a href="/users/profile/<%= u.id %>">
                        <div class="profile-det">
                            <img src="<%= u.avatar %>" class="suggest-pic">
                            <div class="suggest-desc">
                                <span><b><%= u.name %></b></span>
                                <br/>
                                <small><span class="col-grey">Follows You</span></small>
                            </div>
                        </div>
                        <a class="follow-btn" href="/follower/create/?toid=<%=u._id%>">Follow back</a>
                    </a>
                <% }else if(!locals.user.following.includes(u.id)){ %>
                    <% suggestionCount++ %>
                    <a href="/users/profile/<%= u.id %>">
                        <div class="profile-det">
                            <img src="<%= u.avatar %>" class="suggest-pic">
                            <div class="suggest-desc">
                                <span><b><%= u.name %></b></span>
                                <br/>
                            </div>
                        </div>
                        <a class="follow-btn" href="/follower/create/?toid=<%=u._id%>">Follow</a>
                    </a>
                <% } %>
            <% } %>
        <% } %>
    </div>
</div>

<!-- <section id="user-friends">
        <% for (u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>-->