<div id="friends-list-container" class="m-top">
    <div class="m-top m-bottom suggest-head">
        <span class="col-grey">Suggestions For You</span>
    </div>
    <div id="user-friends" class="suggest-container m-top">
        <% for (u of all_users){ %>
        <a href="/users/profile/<%= u.id %>">
            <div class="profile-det">
                <img src="<%= u.avatar %>" class="suggest-pic">
                <div class="suggest-desc">
                    <span><b><%= u.name %></b></span>
                    <br/>
                    <small><span class="col-grey">Follows You</span></small>
                </div>
            </div>
            <button class="follow-btn">Follow</button>
        </a>
        <% } %>
    </div>
</div>

<!-- <section id="user-friends">
        <% for (u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>-->